<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Salesman</title>
    <link rel="stylesheet" href="css/game.css"/>
</head>
<body>
<div id="popup_layer">
    <div class="planet_info">
        <header>
            <h1>Corellia</h1>
        </header>
        <div class="planet_items">
            <h2>Items</h2>
            <table>
                <tr> <th>Item</th> <th>Available</th> <th>Buy price</th> <th>Sell price</th></tr>
                {% for item in model['planets']['Corellia']['available_items'] %}
                <tr>
                    <td>{{item}}</td>
                    <td>{{model['planets']['Corellia']['available_items'][item]['available']}}</td>
                    <td>{{model['planets']['Corellia']['available_items'][item]['buy_price']}}</td>
                    <td>{{model['planets']['Corellia']['available_items'][item]['sell_price']}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="planet_spaceships">
            <h2>Spaceships</h2>
            <ul>
                {% for s in list_starships('Corellia', model) %}
                <li><a href="spaceship.html">{{s}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<header id="main_bar">
    <img src="img/title.png" alt="Space Salesman" id="logo">
    <div id="time_info">
        Time left: 16
    </div>
    <div id="player_info">
        <span id="nickname">Captain-a</span>
        <br/>
        <span id="result">Credits: 1984</span>
    </div>
</header>
<main>
    <div class="items_container" id="planets"></div>
    <div class="items_container" id="spaceships"></div>
</main>
</body>
</html>